@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  background-color: #1C1C26;
  @apply p-7 rounded;
}

.badge {
  @apply p-2 rounded;
}

.leaflet-tile {
  -webkit-filter: hue-rotate(180deg) invert(100%);
}

.no-arrow::-ms-expand {
  display: none;
}

.shadow-custom {
  box-shadow: 0 0 10px;
}